@import '../../../utility.scss';

.Slider {
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  overflow: hidden;
  box-shadow: 4px 4px 12px rgba(black, 0.25);

  .Slide {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 0.75s ease-in-out;
    background-color: var(--purple1);

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.Wrapper {
  overflow: hidden;
}

.Controls {
  display: flex;
  flex-flow: column;
  align-items: center;
  list-style: none;
  height: 100%;
  margin-right: 1rem;
  overflow-y: auto;
  overflow-x: hidden;

  li {
    height: 7rem;
    width: 6rem;
    background-color: var(--purple1);
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 1rem;

      @include respond('small') {
        min-width: 6rem;
        min-height: 7rem;
        margin-bottom: 0;
        margin-right: 1rem;
      }
    }

    &:active {
      background-color: var(--white2);
    }

    img {
      object-fit: cover;
      object-position: top;
      height: 100%;
      width: 100%;
    }
  }

  @include respond('small') {
    flex-flow: row;
    justify-content: stretch;
    align-items: stretch;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 8rem;
    order: 10;
    width: 100%;
    margin: 0;
    margin-top: 1rem;
  }
}

.Number {
  padding: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  z-index: 20;
  color: var(--purple1);
  background-color: rgba(white, 0.5);
}

.Magnifier {
  cursor: pointer;

  .Zoom {
    opacity: 0;
    position: absolute;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: 0.2s ease-out;
    pointer-events: none;

    svg {
      fill: white;
      width: 7rem;
      height: 100%;
    }
  }

  @media (hover: hover) {
    &:hover {
      div {
        filter: brightness(0.75);
      }

      span {
        opacity: 1;
      }
    }
  }
}

.SideControl {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  position: absolute;
  pointer-events: all;
  z-index: 20;
  transform: translateY(-50%);

  svg {
    height: 100%;
    width: 100%;
    fill: white;
  }

  &.Left {
    top: 50%;
    left: 0;
  }

  &.Right {
    top: 50%;
    right: 0;
  }

  &:hover {
    ~ div {
      filter: none !important;
    }

    ~ span {
      opacity: 0;
    }
  }
}
